
/* Modules Section */
.modules{
    margin-bottom: 70px;
}
.modules h2{
    font-size: 2.8rem;
    font-weight: bold;
    color: #404040;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.slider {
    width: 80%;
    margin: auto;
}
.slider-card {
    height: 450px !important;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: justify;
    margin: 10px;
}
.para{
    text-align: left;
}
.slider-card h3 {
    color: #3a6fa0;
    font-size: 1.4em;
    margin: 0 0 10px;
}
.slider-card p {
    font-size: 1em;
    color: #666;
    margin-bottom: 0;
    padding-bottom: 5px;

}
.slick-prev:before, .slick-next:before {
    color: black !important;
    font-size: 30px !important;
}

.slick-dots li button:before {
    font-size: 12px !important;
}

/* Tools Section */
.case{
    background-color: #eee;
    text-align: center;
    color: #404040;
    padding-top: 30px;
    padding-bottom: 30px;
}
.case h1{
    font-size: 2.8rem;
    margin-bottom: 50px;
    font-weight: bold;
}
.case .case-img .images1{
    margin-bottom: 20px;
}
.case .case-img .images1 img{
    width: 140px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
    margin-right: 20px;
}
.case .case-img .images1 .node{
    padding: 24px 10px;
}

/* Companies Section */
.case .case-img .company-images img{
    width: 180px;
}
.case .case-img .company-images img:nth-child(2){
    padding: 50px 40px;
}
.case .case-img .company-images img:nth-child(3){
    padding: 18px 10px;
}
.case .case-img .company-images img:nth-child(4){
    padding: 10px 38px;
}
.case .case-img .company-images:nth-child(2) img:nth-child(1){
    padding: 10px 40px;
}
.case .case-img .company-images:nth-child(2) img:nth-child(2){
    padding: 10px 35px;
}
.case .case-img .company-images:nth-child(2) img:nth-child(4){
    padding: 20px 25px;
}
.case .case-img .company-images:nth-child(3) img:nth-child(1){
    padding: 20px 10px;
}
.case .case-img .company-images:nth-child(3) img:nth-child(2){
    padding: 35px 10px;
}
.case .case-img .company-images:nth-child(3) img:nth-child(3){
    padding: 25px 10px;
}
.case .case-img .company-images:nth-child(4) img:nth-child(1){
    padding: 10px 30px;
}
.case .case-img .company-images:nth-child(4) img:nth-child(2){
    padding: 30px 10px;
}
.case .case-img .company-images:nth-child(4) img:nth-child(3){
    padding: 55px 30px;
}
.case .case-img .company-images:nth-child(4) img:nth-child(4){
    padding: 25px 30px;
}
.case .case-img .company-images:nth-child(5) img:nth-child(1){
    padding: 30px;
}
.case .case-img .company-images:nth-child(5) img:nth-child(2){
    padding: 22px 20px;
}
.case .case-img .company-images:nth-child(5) img:nth-child(3){
    padding: 25px 40px;
}
.case .case-img .company-images:nth-child(5) img:nth-child(4){
    padding: 25px 35px;
}
/*  Benefits beyond learning section */
.benefits{
    color: #404040;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #eee;
}
.benefits h1{
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.benefits .row{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    
}
.benefits .row .col{
    width: 30%;
    height: 200px;
    border: 1px solid #dadada;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
    margin-top: 20px;
}
.benefits .row .col .benefit-content{
    text-align: center;
}
.benefits .row .col .benefit-content p{
    font-weight: bold;
    color: #404040;
    font-size: 25px;
}
.benefits .row .col .benefit-content img{
    width: 80px;
}


/* Job Bootcamp */
.bootcamp h1{
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    color: #404040;
    margin-top: 40px;
}
.table-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow-x: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .table-container h1{
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    color: #404040;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  th, td {
    padding: 18px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f4f4f4;
  }

  td {
    background-color: #fff;
  }

  /* Set light gray background for even rows */
  tr:nth-child(even) td {
    background-color: #f0f0f0;
  }

  td.checkmark {
    text-align: center;
  }

  .checkmark:before {
    content: "✔";
    color: #007bff;
    font-weight: bold;
  }



/* Placement benefits Section */
.benefits .row .benefits-col{
    display: block;
    padding-top: 20px;
}
.benefits .row .col .benefit-content2{
    text-align: left;
}
.benefits .row .col .benefit-content2 p{
    font-weight: bold;
    color: #404040;
    font-size: 16px;
    padding-top: 10px;
}
.benefits .row .col .benefit-content img{
    width: 40px;
}
.benefits .row .benefits-col .benefit-content2 .para{
    color: gray;
    font-weight: 400;
    font-size: 14px;
}


/* Review Section */
.learner{
    background-color: #eee;
    padding-bottom: 30px;
}
.learner h1{
    color: #404040;
    text-align: center;
    padding: 50px 0;
    font-size: 2.2rem;
    font-weight: bold;
}
.learner .learner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.learner .learner-container .learner-col{
    padding: 20px;
    padding-bottom: 25px;
    border-radius: 10px;
    border: 0.5px solid black;
    margin-bottom: 20px;
}
.learner .learner-container .learner-col iframe{
    border-radius: 10px;
    height: 200px;
    width: 250px;
}
.learner .learner-container .learner-col h3,
.learner .learner-container .learner-col p{
    color: black;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}

.module{
    padding-bottom: 18px;
}


/* Key Highlights */
.grnt{
    text-align: center;
    font-size: 2.2rem !important;
    font-weight: bold;
    padding: 20px 70px;
}
.highlight h2{
    color: #404040;
    /* text-align: center; */
    /* padding: 50px 0; */
    font-size: 18px;
    font-weight: bold;
    /* padding: 20px 70px; */
}
.hightlight-container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 50px auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    overflow: hidden;
}

/* Left section styles */
.left-section {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.tab {
    padding: 15px 20px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab.active, .tab:hover {
    background-color: rgb(225, 225, 225);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Right section styles */
.right-section {
    flex: 2;
    /* padding-top: 30px; */
    padding: 20px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.content h2 {
    font-size: 28px;
    color: black;
    margin-bottom: 15px;
}

.content p, .content ul {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    /* text-align: center; */
}

/* List styles */
.content ul {
    list-style-type: disc;
    margin-left: 20px;
}


/* Certificate Section */
.certificate{
    margin-top: 60px;
    color: #404040;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.certificate h2{
    margin-bottom: 20px !important;
}
.certificate-section {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
    margin: 0 auto;
   
}

.certificate-image {
    width: 500px;
    height: 300px;
}

.certificate-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.certificate-info {
    flex: 1 1 40%;
    padding: 10px;
}

.certificate-info h2 {
    color: #1f3d7a;
    font-size: 24px;
    margin-bottom: 10px;
}

.certificate-info p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.stats {
    display: flex;
    gap: 20px;
}

.stat-item {
    background-color: #f5f7fa;
    padding: 10px 20px;
    border-radius: 8px;
    text-align: center;
    flex: 1;
}

.stat-item span {
    display: block;
    font-size: 24px;
    color: #1f3d7a;
}

.stat-item small {
    font-size: 14px;
    color: #666;
}


/* Guranteed Job */
.job-section {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

.job-section .left {
    flex: 1;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-section .left img {
    max-width: 100%;
    height: 400px;
    margin-top: 65px;
    border-radius: 8px;
    object-fit: cover;
}

.job-section .right {
    flex: 2;
    min-width: 300px;
    padding: 20px;
}

.job-section h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
    font-weight: bold;
    color: #404040;
}

.job-steps {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.job-step {
    flex: 1 1 calc(33.333% - 20px);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.job-step img {
    width: 40px;
    height: 40px;
}

.job-step-content {
    flex: 1;
}

.job-step-content h3 {
    margin: 0;
    font-size: 1.1rem;
}

.job-step-content p {
    font-size: 0.9rem;
    color: #333;
    margin-top: 5px;
}


/* limited seats Form Section */
#offer-form {
    position: fixed;
    right: 0;
    top: 90px;
    width: 300px;
    background: #f4f4f4;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#offer-form h2 {
    color: #ff6347;
    text-align: center;
}

#offer-form p {
    text-align: center;
    font-size: 1.1rem;
    margin: 10px 0;
}

#offer-form input[type="text"],
#offer-form input[type="email"],
#offer-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    /* margin: 8px 0; */
    border-radius: 5px;
    border: 1px solid #ccc;
}

#offer-form button {
    width: 100%;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#offer-form button:hover {
    background-color: #ff4500;
}

#close-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 34px;
    cursor: pointer;
    color: #333;
}
.error{
    font-size: 14px;
    padding-bottom: 5px;
    color: red;
}


/* Other changes */

.hands{
      font-size: 45px !important;
}

.build{
    padding: 48px 10px !important;
}
.mod{
    padding: 40px 10px !important;
}

/* Responsive for Tablets */
@media screen and (max-width:1029px){
     /* Case Studies Section */
     .case {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 20px;
    }
    .case .case-img{
        display: flex;
        /* flex-wrap: wrap; */
        gap: 0;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
    }
    .case .case-img .images1 {
        margin-bottom: 0;
    }
    .case .case-img img {
        width: 150px;
        margin: 0 10px 10px 10px;
    }

     /* Company Section */
     .case .case-img .company-images img{
        width: 150px;
        padding: 10px 10px;
        margin-bottom: 20px;
    }
    .case .case-img .company-images{
        margin-bottom: 0;
    }
    .case .case-img2{
        flex-direction: column;
    }

    .case .case-img .company-images img:nth-child(4){
        padding: 10px 30px;
    }
    .case .case-img .company-images:nth-child(2) img:nth-child(1){
        padding: 15px 30px;
    }
    .case .case-img .company-images:nth-child(2) img:nth-child(2){
        padding: 15px 30px;
    }
    .case .case-img .company-images:nth-child(3) img:nth-child(1){
        padding: 22px 10px;
    }
    .case .case-img .company-images:nth-child(3) img:nth-child(4){
        padding: 15px 33px;
    }
    .case .case-img .company-images:nth-child(4) img:nth-child(1){
        padding: 10px 22px;
    }
    .case .case-img .company-images:nth-child(4) img:nth-child(2){
        padding: 25px 5px;
    }
    .case .case-img .company-images:nth-child(4) img:nth-child(3){
        padding: 45px 20px;
    }
    .case .case-img .company-images:nth-child(5) img:nth-child(2){
        padding: 25px 20px;
    }
    .case .case-img .company-images:nth-child(5) img:nth-child(3){
        padding: 15px 20px;
    }


     /*  Benefits beyond learning section */
     .benefits .row {
        flex-direction: column;
    }
    .benefits .row .col{
        width: 100%;
        padding: 30px 20px;
    }
    .benefits .row .col .benefit-content p{
        font-size: 20px;
    }
    .benefits .row .col .benefit-content img{
        width: 50px;
    }


    /* Placement benefits Section */
    .benefits .row .benefits-col{
        display: block;
        padding-top: 10px;
    }


    /* Job Bootcamp */
    .table-container {
        width: 90%;
    }


    /* Review Section */
    .learner{
        padding-top: 30px;
    }
     .learner h1 {
        padding: 30px 0;
        font-size: 35px;
    }
    .learner .learner-container {
        flex-wrap: wrap;
    }
    .learner .learner-container .learner-col {
       width: 220px;
    }
    .learner .learner-container .learner-col iframe{
        width: 180px;
    }
    .learner .learner-container .video iframe{
          height: 180px;
    }

    

}

/* Responsive for mobile */
@media screen and (max-width:549px) {
    /* Case Studies Section */
    .case {
        padding: 40px 10px;
        }
        .case h1 {
            font-size: 28px;
            margin-bottom: 20px;
            padding: 0 10px;
        }
        .case .case-img{
            display: flex;
            /* flex-wrap: wrap; */
            gap: 0;
            padding-right: 0;
        }
        .case .case-img img {
            margin: 0 10px 10px 10px;
            margin-bottom: 20px;
        }
        .case .case-img .images1 img {
            width: 150px !important;
            margin-right: 0;
        }
        .case .case-img .images1 .img{
            width: 160px !important;
        }


        /* Company Section */
        .case .case-img .company-images img{
            width: 135px;
            padding: 8px 10px;
            margin-bottom: 20px;
        }
        .case .case-img .company-images{
            margin-bottom: 0;
        }
        .case .case-img2{
            flex-direction: column;
        }
        .case .case-img .company-images img:nth-child(4){
            padding: 10px 30px;
        }
        .case .case-img .company-images:nth-child(2) img:nth-child(1){
            padding: 10px 30px;
        }
        .case .case-img .company-images:nth-child(3) img:nth-child(1){
            padding: 22px 10px;
        }
        .case .case-img .company-images:nth-child(3) img:nth-child(3){
            padding: 22px 10px;
        }
        .case .case-img .company-images:nth-child(3) img:nth-child(4){
            padding: 10px 30px;
        }
        .case .case-img .company-images:nth-child(4) img:nth-child(1){
            padding: 15px 30px;
        }
        .case .case-img .company-images:nth-child(4) img:nth-child(2){
            padding: 22px 0px;
        }
        .case .case-img .company-images:nth-child(4) img:nth-child(3){
            padding: 45px 20px;
        }
        .case .case-img .company-images:nth-child(5) img:nth-child(3){
            padding: 15px 20px;
        }
        .case .case-img .company-images:nth-child(5) img:nth-child(4){
            padding: 18px 20px;
        }


        /*  Benefits beyond learning section */
        .benefits .row {
            flex-direction: column;
        }
        .benefits .row .col{
            width: 100%;
            height: 300px;
            padding: 30px 20px;
        }
        .benefits .row .col .benefit-content p{
            font-size: 20px;
        }
        .benefits .row .col .benefit-content img{
            width: 50px;
        }


        /* Placement benefits Section */
        .benefits .row .benefits-col{
            display: block;
            padding-top: 10px;
        }


        /* Job Bootcamp */
        .table-container {
            width: 90%;
        }

        .benefits h1 {
            font-size: 28px;
            padding-bottom: 10px;
            padding-top: 20px;
        }
        .bootcamp h1 {
            font-size: 28px;
            padding-bottom: 10px;
            padding-top: 20px;
        }
        .title-details {
            text-align: justify;
        }
        .register{
            text-align: center;
        }
        .faq{
            font-size: 28px;
        }
        .course{
            font-size: 28px !important;
        }
        .features-content-section {
            padding-left: 15px !important;
        }
        .features-card-content-section h3 {
            font-size: 22px !important;
        }
        .features-card-content-section p {
            font-size: 18px !important;
        }
        .highlights-card {
            padding: 20px!important;
            background-color: #fff;
            margin: 10px;
        }

        /* Review Section */
        .learner h1 {
            padding: 0 10px;
            font-size: 28px;
        }
        .learner .learner-container {
            flex-direction: column;
            gap: 5px;
            margin-top: 20px;
        }
        .learner .learner-container .learner-col{
            width: 80%;
        }
        .learner .learner-container .learner-col iframe{
            width: 100%;
        }


        /* Key Highlights */
        .hightlight-container {
            flex-direction: column;
            width: 100%;
        }
    
        .right-section {
            border-top: 1px solid #ddd;
            padding: 20px 20px;
        }
    
        .tab {
            text-align: center;
        }
        .highlight h2 {
            font-size: 20px;
            padding: 0
        }
        .content p{
            text-align: center;
        }
        .content ul {
            text-align: left;
        }


        /* Certificate Section */
        .certificate {
            font-size: 20px;
        }
        .certificate-section {
            width: 80%;
            flex-direction: column;
            padding: 0;
        }
        .certificate-image {
            width: 100%;
            height: 250px;
        }

        .certificate-info h2 {
            font-size: 20px;
        }

        .certificate-info p {
            font-size: 16px;
        }


        /* Guranteed Job */
        .job-section {
            width: 100%;
            flex-direction: column;
            padding: 10px;
        }
        .job-section .left {
            width: 100%;
        }
        .job-section .right {
            width: 100%;
        }
        .job-section .left img {
            height: 300px;
        }
        .job-section h2 {
            text-align: center;
        }

        .job-step {
            flex: 1 1 100%;
        }

        h2 {
            font-size: 1.5rem;
        }

        /* limited seats Form Section */
        #offer-form {
            width: 90%;
            left: 5%;
            right: 5%;
        }

    } 